/* Feedback */
.feedback-form {
    grid-template-columns: repeat(1fr);
    border-radius: 33px;
    display: grid;
    width: 33vw;
}

.DarkTheme .feedback-form {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

.LightTheme .feedback-form {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Checkboxes */
.feedback-checkboxes {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-row: 1;
}

.feedback-checkboxes label {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 1vw;
}

.feedback-checkboxes input[type="checkbox"] {
    margin: 1vw;
}

/* Slider */
.message-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 12vw;
    display: flex;
    grid-row: 2;
}

.message-container label {
    margin-bottom: 1vw;
}

.message-boxes {
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
    display: flex;
}

.message-boxes textarea {
    overflow-wrap: break-word;
    box-sizing: border-box;
    word-break: break-all;
    border-radius: 33px;
    margin-bottom: 3vw;
    text-align: left;
    overflow-y: auto;
    max-width: 33vw;
    height: 12vw;
    padding: 1vw;
    width: 24vw;
}

/* Email */
.feedback-form .column-3 .email-container{
    justify-content: center;
    align-items: center;
    display: flex; 
}

.feedback-form .column-3 {
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
    display: flex;
    width: 100%;
}

.feedback-form .email-container label {
    margin-right: 1vw;
}

.feedback-form .email-container input {
    border-radius: 33px;
}

/* Submit Button */
.feedback-form .column-3 .submit-button {
    border-radius: 33px;
    margin-left: 1vw;
    padding: 1px;
}

/* General */
.feedback-checkboxes,
.message-container,
.feedback-form .email {
    margin: 1vw;
}

@media (max-width:1440px){
    .feedback-form{
        width: fit-content;
    }
}