/* Dark theme */
.privacy.DarkTheme {
    display: grid;
        grid-template-rows: minmax(0.25fr, auto) minmax(2fr, auto) minmax(20fr, auto) minmax(0.25fr, auto);
        grid-template-columns: 2fr 4fr 2fr;
        background-color: #fff;
        color: white;
        gap: 3vh;
}

.privacy.DarkTheme .navbar {
    grid-row: 1;
}

.privacy.DarkTheme .content {
    margin: 3vw;
    grid-row: 2;
    grid-column: 1/-1;
}

.privacy.DarkTheme .footer {
    grid-column: 1/-1;
    grid-row: 3;
}

.privacy.DarkTheme h1,
.privacy.DarkTheme h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.privacy.DarkTheme p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ccc;
}

/* Light theme */
.privacy.LightTheme {
    display: grid;
    grid-template-rows: minmax(0.25fr, auto) minmax(2fr, auto) minmax(20fr, auto) minmax(0.25fr, auto);
    grid-template-columns: 2fr 4fr 2fr;
    background-color: #fff;
    color: black;
    gap: 3vh;
}

.privacy.LightTheme .navbar {
    grid-row: 1;
    grid-column: 1/-1;
}

.privacy.LightTheme .content {
    margin: 3vw;
    grid-row: 2;
    grid-column: 1/-1;
}

.privacy.LightTheme .footer {
    grid-row: 3;
    grid-column: 1/-1;
}

.privacy.LightTheme h1,
.privacy.LightTheme h2 {
    text-align: center;
    margin-bottom: 2vw;
    color: #333;
}

.privacy.LightTheme p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2vw;
    color: #666;
}

.LightTheme #footer {
    background-color: rgb(155, 155, 155, 0.06);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: black;
    max-height: fit-content;
}

.DarkTheme #footer {
    background-color: rgb(155, 155, 155, 0.06);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: white;
    max-height: fit-content;
}