/* Privacy page */
.privacy-DarkTheme,
.privacy-LightTheme {
    grid-template-rows: minmax(0.25fr, auto) minmax(2fr, auto) minmax(20fr, auto) minmax(0.25fr, auto);
    grid-template-columns: 2fr 4fr 2fr;
    display: grid;
    height: 100vh;
    gap: 3.8vh;
}

/* Navbar */
.privacy-DarkTheme .navbar,
.privacy-LightTheme .navbar {
    grid-column: 2;
    padding: 1em;
    grid-row: 1;
}

/* Body */
.privacy-DarkTheme .body-privacy,
.privacy-LightTheme .body-privacy {
    letter-spacing: 0.06em;
    border-radius: 33px;
    grid-column: 1/-1;
    line-height: 1.8;
    padding: 2em;
    margin: 3vh;
    grid-row: 2;
}

.privacy-DarkTheme .body-privacy {
    background-color: rgba(222, 222, 222, 0.5);
}

.privacy-LightTheme .body-privacy {
    background-color: rgba(134, 134, 134, 0.5);
    padding: 3vw;
}

/* Footer */
.privacy-DarkTheme footer,
.privacy-LightTheme footer {
    max-height: fit-content;
    grid-column: 1/-1;
    grid-row: 3;
}

/* Headings */
.privacy-DarkTheme h1,
.privacy-DarkTheme h2,
.privacy-LightTheme h1,
.privacy-LightTheme h2 {
    text-align: center;
    color: #a46646;
    margin: 3vh;
}

/* Paragraphs */
.privacy-DarkTheme p {
    margin: 2vh;
}

.privacy-DarkTheme ul li,
.privacy-LightTheme ul li {
    margin: 1.5em;
}

/* First media query */
@media (max-width: 1440px) {
    
}

/* Second media query */
@media (max-width: 990px) {
    .privacy-DarkTheme .navbar,
    .privacy-LightTheme .navbar {
        grid-column: 1/-1;
    }
}