/* Feedback */
.feedback-form {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 3vw;
}

/* Checkboxes */
.feedback-checkboxes {
    grid-template-columns: repeat(3, 1fr);
    border-radius: 33px;
    grid-column: 1;
    display: grid;
}

.feedback-checkboxes label {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 1vw;
}

.feedback-checkboxes input[type="checkbox"] {
    margin: 1vw;
}

/* Slider */
.message-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 12vw;
    grid-column: 2;
    display: flex;
    grid-row: 1;
}

.message-container label {
    margin-bottom: 1vw;
}

.message-boxes {
    box-sizing: border-box;
    text-align: center;
    margin-top: 3vw; 
}

.message-boxes textarea {
    overflow-wrap: break-word;
    box-sizing: border-box;
    word-break: break-all;
    border-radius: 33px;
    text-align: left;
    overflow-y: auto;
    max-width: 33vw;
    height: 12vw;
    padding: 1vw;
    width: 24vw;
}

/* Email */
.feedback-form .column-3 .email-container {
    order: 1;
}

.feedback-form .email-container label {
    margin-right: 1vw;
}

.feedback-form .email-container input {
    border-radius: 33px;
}

/* Submit Button */
.feedback-form .column-3 .submit-button {
    border-radius: 33px;
    border: 1px outset;
    margin-left: 4.4vw;
    margin-top: 1vw;
    width: 14.3vw;
    order: 2;
}

.feedback-form .column-3 .submit-button:hover {
    border: 1px inset;
}

/* General */
.feedback-checkboxes,
.message-container,
.feedback-form .email {
    margin: 3vw;
}

/* Column 3 */
.feedback-form .column-3 {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vw;
    grid-column: 2;
    grid-row: 2;
}