footer {
    display: flex;
    justify-content: space-between;
    height: 4vw;
}

footer .authorship,
footer .contact,
footer .sitemap,
footer .social-media,
footer .newsletter,
footer .privacy,
footer .about {
    margin-left: 2vw;
    margin-right: 2vw;
}

footer a {
    text-decoration: none;
}

footer form {
    display: flex;
    justify-content: center;
}

footer input[type="email"],
footer input[type="text"] {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    border-radius: 33px;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.social-media a {
    display: inline-block;
    margin-right: 2vw;
    color: black;
}

.contact a,
.privacy a,
.about a {
    color: black;
}

#email::placeholder {
    text-align: center;
}

.authorship {
    font-size: small;
}