footer {
    display: flex;
    justify-content: space-between;
    max-height: 6vw;
}

.footer-LightTheme {
    background-color: rgba(242, 242, 242, 0.6);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.footer-LightTheme a {
    text-decoration: none;
    color: black;
}

.footer-DarkTheme a {
    text-decoration: none;
    color: white;
}

.footer-DarkTheme {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
    background-color: rgb(003, 003, 003);
}

footer .authorship,
footer .contact,
footer .sitemap,
footer .social-media,
footer .newsletter,
footer .privacy,
footer .about {
    margin: 0.6em;
    text-align: center;
}

footer form {
    display: flex;
    justify-content: center;
}

footer input[type="email"],
footer input[type="text"]{
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-radius: 33px;
}

footer input[type='submit']{
    border-radius: 33px;
    padding: 3px;
}

.social-media a {
    justify-content: space-between;
    margin-bottom: 1vw;
    margin-right: 1vw;
    display: flex;
}

#email::placeholder {
    text-align: center;
}

.authorship {
    font-size: small;
}

@media (max-width: 995px) {
    footer {
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .social-media {
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-media a {
        margin: 0.5em;   
    }
}