.navbar {
    justify-content: space-evenly;
    border-radius: 20px;
    display: flex;
    padding: 1em;
}

.navbar.LightTheme {
    background-color: rgba(242, 242, 242, 0.6);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.navbar.DarkTheme {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
    background-color: rgb(003, 003, 003);
}

.navbar a {
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar a:link,
.navbar a:visited {
    color: inherit;
}

.navbar a:hover {
    color: #007bff;
}