.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    border-radius: 20px;
}

.navbar a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:link,
.navbar a:visited {
    color: inherit;
}

.navbar a:hover {
    color: #007bff;
}

.navbar.LightTheme {
    background-color: rgb(155, 155, 155, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar.DarkTheme {
    background-color: rgb(155, 155, 155, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}