.navbar {
    justify-content: space-evenly;
    background-color: none;
    display: flex;
}

.navbar a {
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar a:link,
.navbar a:visited {
    color: inherit;
}

.navbar a:hover {
    color:  #e97451;
    transition: all 0.15s ease-in;
}