.ThemeChanger-LightTheme,
.ThemeChanger-DarkTheme{
    border-radius: 33px;
    position: relative;
    cursor: pointer;
    max-height: 3vw;
    max-width: 3vw;
}

.ThemeChanger-LightTheme:hover,
.ThemeChanger-DarkTheme:hover{  
    border-color: #e97451;
    transition: all 24ms ease-in;
}

.ThemeChanger-LightTheme{
    background-color: white;
    border-color: black;
}

.ThemeChanger-DarkTheme{
    background-color: black;
    border-color: white;
}

@media (max-width: 995px) {
    .ThemeChanger-LightTheme,
    .ThemeChanger-DarkTheme {
        max-height: 6vw;
        max-width: 6vw;
    }
}