/* Contact page */
.contact-LightTheme,
.contact-DarkTheme {
    grid-template-rows: minmax(0.25fr, auto) minmax(2fr, auto) minmax(20fr, auto) minmax(0.25fr, auto);
    grid-template-columns: 2fr 4fr 2fr;
    display: grid;
    gap: 3.8vh;
}

/* Navbar */
.contact-LightTheme .navbar,
.contact-DarkTheme .navbar {
    grid-column: 2;
    grid-row: 1;
}

/* Content */
.contact-LightTheme .content-contact,
.contact-DarkTheme .content-contact {
    -ms-overflow-style: none;
    justify-content: center;
    flex-direction: column;
    scrollbar-width: none;
    border-radius: 33px;
    overflow-x: hidden;
    grid-column: 1/-1;
    display: flex;
    margin: 3vw;
    grid-row: 2;
}

.contact-LightTheme .content-contact .text-section-contact,
.contact-DarkTheme .content-contact .text-section-contact {
    letter-spacing: 0.06em;
    line-height: 1.8;
    margin: 3vw;
}

.contact-LightTheme .content-contact .text-section-contact h1,
.contact-DarkTheme .content-contact .text-section-contact h1 {
    text-align: center;
    margin: 3vh
}

.contact-DarkTheme ul li,
.contact-LightTheme ul li {
    margin: 1.5em;
}

.contact-LightTheme .content-contact {
    background-color: rgba(242, 242, 242, 0.6);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.contact-DarkTheme .content-contact {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
    background-color: rgb(003, 003, 003);
}

.contact .content-contact::-webkit-scrollbar {
    display: none;
}

.contact-form-selector {
    justify-content: center;
    display: flex;
}

/* Footer */
.contact-LightTheme footer,
.contact-DarkTheme footer {
    grid-column: 1/-1;
    grid-row: 3;
}

/* Contact form */

#contact-form {
    margin: 3vw;
}

/* First media query */
@media (max-width: 1440px) {
    
}

/* Second media query */
@media (max-width: 990px) {
    .contact-LightTheme .navbar,
    .contact-DarkTheme .navbar {
        grid-column: 1/-1;
    }
}