/* Homepage */
.homepage-DarkTheme,
.homepage-LightTheme {
    grid-template-rows: minmax(0.25fr, auto) minmax(2fr, auto) minmax(20fr, auto) minmax(0.25fr, auto);
    grid-template-columns: 1fr 6fr 1fr;
    display: grid;
    gap: 3vh;
}

/* Navbar */
.navbar {
    grid-column: 2/ -1;
    grid-row: 1;
    margin: 3vw;
}

/* Hero section */
.LightTheme .hero-section,
.DarkTheme .hero-section {
    background-image: url('../../../assets/library.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    grid-column: 1 / span 3;
    justify-content: center;
    background-size: cover;
    align-items: center;
    padding: 35vh 0;
    display: flex;
    grid-row: 2;
}

.LightTheme .hero-text,
.DarkTheme .hero-text {
    font-size: calc(3vw + 3vh + 3vmin);
    backdrop-filter: blur(3px);
    border-radius: 33px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 33px;
}

.LightTheme .hero-text {
    background: rgba(255, 255, 255, 0.15);
}

.DarkTheme .hero-text {
    background: rgba(0, 0, 0, 0.15);
}

/* Ad section */
.ad1,
.ad2 {
    background-color: yellow;
    align-self: center;
    text-align: center;
    grid-column: 2;
    padding: 1vh 0;
}

.ad1 {
    grid-row: 3;
}

.ad2 {
    grid-row: 5;
}

/* content */
.content-homepage {
    -ms-overflow-style: none;
    flex-direction: column;
    scrollbar-width: none;
    overflow-x: hidden;
    grid-column: 1/-1;
    margin-right: 3vw;
    overflow: scroll;
    margin-left: 3vw;
    display: flex;
    grid-row: 4;
}

.content-homepage::-webkit-scrollbar {
    display: none;
}

/* Sections inside content */
.redirect-reading,
.redirect-events,
.redirect-about {
    letter-spacing: 0.03em;
    border-radius: 33px;
    line-height: 1.8;
    display: flex;
    margin: 3vw;
}

.redirect-reading .image,
.redirect-events .image2,
.redirect-about .image3 {
    border: 3px solid #a46646;
    border-radius: 33px;
    cursor: pointer;
    height: 99%;
    width: 50%;
}

.redirect-reading .image {
    margin-right: 3vw;
    order: 1;
}

.redirect-events .image2 {
    margin-left: 3vw;
    order: 4;
}

.redirect-about .image3 {
    margin-right: 3vw;
    max-width: 33%;
    order: 5;
}

.LightTheme .redirect-reading,
.LightTheme .redirect-events,
.LightTheme .redirect-about {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.DarkTheme .redirect-reading,
.DarkTheme .redirect-events,
.DarkTheme .redirect-about {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

.redirect-reading .text-container-reading,
.redirect-events .text-container-events,
.redirect-about .text-container-about {
    margin-top: 3vh;
}

.redirect-reading .text-container-reading {
    margin-right: 3vw;
    order: 2;
}

.redirect-events .text-container-events {
    margin-left: 3vw;
    order: 3;
}

.redirect-about .text-container-about {
    margin-right: 3vw;
    order: 6;
}

/* Fade in effect for sections*/
.visibility-reading,
.visibility-events,
.visibility-about {
    transition: opacity 1s;
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* Footer */
footer {
    grid-column: 1 / span 3;
    grid-row: 6;
}

/* Tablet query */
@media (max-width: 1440px) {
    .ad1,
    .ad2 {
        grid-row: 3;
    }

    .ad1 {
        grid-column: 1;
    }

    .ad2 {
        grid-column: 3;
    }

    .content-homepage {
        align-items: center;
        margin-bottom: -6vh;
        margin-top: 6vh;
        margin-right: 0;
        margin-left: 0;
        grid-column: 2;
        grid-row: 3; 
    }

    .redirect-reading,
    .redirect-events,
    .redirect-about {
        flex-direction: column;
        align-items: center;
    }

    .redirect-reading .image, 
    .redirect-events .image2, 
    .redirect-about .image3 {
        max-width: 100%;
        margin-top: 1vh;
        margin-right: 0;
        order: 0;
    }

    .redirect-reading .text-container-reading,
    .redirect-events .text-container-events,
    .redirect-about .text-container-about {
        margin: 3vh;
        order: 1;
    }
}

/* Mobile query */
@media (max-width: 990px) {
    .navbar {
        grid-column: 1/-1;
    }

    .ad1 {
        grid-row: 3;
    }
        
    .ad2 {
        grid-row: 5;
    }

    .ad1,.ad2 {
        grid-column: 2;
    }
        
    .content-homepage {
        align-items: center;
        grid-column: 1/-1;
        grid-row: 4;
        margin: 0;
    }

    .hero-text-DarkTheme {
        font-size: calc(2vw + 2vh + 2vmin);
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
    }
    
    .hero-text-LightTheme {
        background: rgba(255, 255, 255, 0.3);
        font-size: calc(2vw + 2vh + 2vmin);
        backdrop-filter: blur(2px);
    }
}

